.title {
  width: 100%;
  text-align: right;
  font-size: 2rem;
  font-family:'Bevan', serif;
  color: rgb(255, 255, 255);
  background-color: rgba(69, 12, 75, 0.911);
  margin-bottom: 50px;
  padding-left: 3%;
  padding-right: 3%;  
}
