.wrapper {
  background: rgb(175, 175, 175);
  background-image: url('https://vignette.wikia.nocookie.net/toonami/images/5/5f/Transformers_animated.jpg/revision/latest?cb=20130627005455');
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}